{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block content %}


<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-12 col-md-3 mb-2">
                    <a href="{{ path('sticker_new_group') }}" class="btn btn-success w-100">New Group</a>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <a href="{{ path('sticker_new') }}" class="btn btn-success w-100">New Sticker</a>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <input type="text" id="searchInput" placeholder="Search..." class="form-control mb-3" >
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle text-truncate w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Group
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                            {% for group in groups %}
                                <li>
                                    <a class="dropdown-item text-truncate" href="#" onclick="selectGroup('{{ group.name }}', {{ group.id }})">
                                        {{ group.name }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="dropdown-item text-muted">No groups available.</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12"  id="stickers-container" style="overflow-x: auto;">

                </div>
                <nav class="col-12" aria-label="Page navigation">
                    <ul id="pagination-container" class="pagination justify-content-center">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block body_scripts %}
    <script>
        let currentPage = 1;
        let totalPages = 1;
        let selectedGroupId = null;
        let searchTerm = '';

        document.getElementById('searchInput').addEventListener('input', function() {
            searchTerm = this.value;
            loadStickers(selectedGroupId, 1, searchTerm);
        });

        function loadStickers(groupId, page = 1,  searchTerm = '') {
            const paginationContainer = document.getElementById('pagination-container');
            highlightSelectedGroup(groupId);
            selectedGroupId = groupId;
            currentPage = page;
            const container = document.getElementById('stickers-container');
            container.innerHTML = '<p>Loading...</p>';
            const searchParam = searchTerm != '' ? `&searchTerm=${encodeURIComponent(searchTerm)}` : '';
            let url = `/sticker/get-stickers/${groupId}?page=${page}&limit=10`;
            if (searchParam) {
                url += searchParam;
            }
            console.log("Fetching URL:", url);
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch stickers. Status code: ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        const cards = data.stickers.map(sticker => `
                        <div class="card mb-2">
                            <div class="row g-0">
                                <div class="col-9">
                                    <div class="card-body p-2" id="card-${sticker.product_code}">
                                        <a href="${sticker.sticker_link}" class="card-title text-primary text-decoration-none m-0" target="_blank">
                                            ${sticker.product_name}
                                        </a>
                                        <p class="card-text text-muted small m-0">
                                            <strong>Code:</strong> ${sticker.product_code} <br>
                                            <strong>Iwasku:</strong> ${sticker.iwasku} <br>
                                            <strong>Category:</strong> ${sticker.category} <br>
                                            <strong>Attributes:</strong> ${sticker.attributes}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <img src="${sticker.image_link}" class="img-fluid rounded-start" alt="Image" style="max-height: 100px; max-width: 100%; height: auto; width: auto;">
                                </div>
                            </div>
                        </div>
                        `).join('');
                        container.innerHTML = cards;
                        totalPages = data.pagination.total_pages;
                        if (searchTerm !== '') {
                            paginationContainer.style.display = 'none';
                        } else {
                            renderPagination();
                        }
                    } else {
                        container.innerHTML = '<p>No stickers available for this group.</p>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching stickers:', error);
                    container.innerHTML = '<p>An error occurred while loading stickers.</p>';
                });
        }

        function renderPagination() {
            const paginationContainer = document.getElementById('pagination-container');
            paginationContainer.innerHTML = '';
            let paginationHTML = '';
            paginationHTML += `
            <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, 1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>`;

            paginationHTML += `
            <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${currentPage - 1})" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>`;

            const maxVisiblePages = 3;
            const firstVisiblePage = Math.max(1, currentPage - Math.floor(maxVisiblePages / 2));
            const lastVisiblePage = Math.min(totalPages, firstVisiblePage + maxVisiblePages - 1);

            for (let page = firstVisiblePage; page <= lastVisiblePage; page++) {
                paginationHTML += `
                <li class="page-item ${page === currentPage ? 'active' : ''}">
                    <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${page})">${page}</a>
                </li>`;
            }

            paginationHTML += `
            <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${currentPage + 1})" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>`;

            paginationHTML += `
            <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${totalPages})" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>`;

            if (lastVisiblePage < totalPages) {
                paginationHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, totalPages)">${totalPages}+ </a>
                </li>`;
            }

            paginationContainer.innerHTML = paginationHTML;
        }

        function highlightSelectedGroup(groupId) {
            const groupLinks = document.querySelectorAll('.list-group-item');
            groupLinks.forEach(link => {
                if (parseInt(link.dataset.groupId) === groupId) {
                    link.classList.add('active');
                    link.setAttribute('aria-current', 'true');
                } else {
                    link.classList.remove('active');
                    link.removeAttribute('aria-current');
                }
            });
        }

        function selectGroup(groupName, groupId) {
            totalPages = 1;
            document.getElementById("dropdownMenuButton").innerHTML = groupName;
            loadStickers(groupId, 1, '');
        }
    </script>
{% endblock %}
