{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block content %}


<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-12 col-md-3 mb-2">
                    <a href="{{ path('sticker_new_group') }}" class="btn btn-success w-100">New Group</a>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <a href="{{ path('sticker_new') }}" class="btn btn-success w-100">New Sticker</a>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <input type="text" id="searchInput" placeholder="Search..." class="form-control mb-3" onkeyup="searchTable()">
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle text-truncate w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Group
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                            {% for group in groups %}
                                <li>
                                    <a class="dropdown-item text-truncate" href="#" onclick="selectGroup('{{ group.name }}', {{ group.id }})">
                                        {{ group.name }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="dropdown-item text-muted">No groups available.</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12"  id="stickers-container" style="overflow-x: auto;">

                </div>
                <nav aria-label="Page navigation">
                    <ul id="pagination-container" class="pagination justify-content-center">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block body_scripts %}
    <script>
        let currentPage = 1;
        let totalPages = 1;
        let selectedGroupId = null;
        let allCards = [];

        function loadAllStickers(groupId) {
            selectedGroupId = groupId;
            allCards = [];
            fetchTotalPages(groupId).then(total => {
                totalPages = total;
                for (let page = 1; page <= totalPages; page++) {
                    loadStickers(groupId, page, true);
                }
            });
        }

        function fetchTotalPages(groupId) {
            return fetch(`/sticker/get-stickers/${groupId}?page=1&limit=10`)
                .then(response => response.json())
                .then(data => data.pagination.total_pages);
        }

        function loadStickers(groupId, page = 1) {
            highlightSelectedGroup(groupId);
            selectedGroupId = groupId;
            currentPage = page;
            const container = document.getElementById('stickers-container');
            container.innerHTML = '<p>Loading...</p>';
            fetch(`/sticker/get-stickers/${groupId}?page=${page}&limit=10`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch stickers. Status code: ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        allCards = [...allCards, ...data.stickers];
                        const cards = data.stickers.map(sticker => `
                        <div class="card mb-2">
                            <div class="row g-0">
                                <div class="col-9">
                                    <div class="card-body p-2" id="card-${sticker.product_code}">
                                        <a href="${sticker.sticker_link}" class="card-title text-primary text-decoration-none m-0" target="_blank">
                                            ${sticker.product_name}
                                        </a>
                                        <p class="card-text text-muted small m-0">
                                            <strong>Code:</strong> ${sticker.product_code} <br>
                                            <strong>Iwasku:</strong> ${sticker.iwasku} <br>
                                            <strong>Category:</strong> ${sticker.category} <br>
                                            <strong>Attributes:</strong> ${sticker.attributes}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <img src="${sticker.image_link}" class="img-fluid rounded-start" alt="Image" style="max-height: 100px; max-width: 100%; height: auto; width: auto;">
                                </div>
                            </div>
                        </div>
                        `).join('');
                        container.innerHTML = cards;
                        totalPages = data.pagination.total_pages;
                        renderPagination();
                    } else {
                        container.innerHTML = '<p>No stickers available for this group.</p>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching stickers:', error);
                    container.innerHTML = '<p>An error occurred while loading stickers.</p>';
                });
        }

        function renderPagination() {
            const paginationContainer = document.getElementById('pagination-container');
            paginationContainer.innerHTML = '';
            paginationContainer.innerHTML += `
            <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${currentPage - 1})" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>`;
            for (let page = 1; page <= totalPages; page++) {
                paginationContainer.innerHTML += `
                <li class="page-item ${page === currentPage ? 'active' : ''}">
                    <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${page})">${page}</a>
                </li>`;
            }
            paginationContainer.innerHTML += `
            <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                <a class="page-link" href="#" onclick="loadStickers(selectedGroupId, ${currentPage + 1})" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>`;
        }

        function searchTable() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            const container = document.getElementById('stickers-container');
            container.innerHTML = '';
            const filteredCards = allCardsData.filter(card => {
                const productName = card.product_name || '';
                const productCode = card.product_code || '';
                return productName.toUpperCase().indexOf(filter) > -1 || productCode.toUpperCase().indexOf(filter) > -1;
            });

            if (filteredCards.length > 0) {
                const cards = filteredCards.map(sticker => `
        <div class="card mb-2" id="card-${sticker.product_code}">
            <div class="row g-0">
                <div class="col-9">
                    <div class="card-body p-2">
                        <a href="${sticker.sticker_link}" class="card-title text-primary text-decoration-none m-0" target="_blank">
                            ${sticker.product_name}
                        </a>
                        <p class="card-text text-muted small m-0">
                            <strong>Code:</strong> ${sticker.product_code} <br>
                            <strong>Iwasku:</strong> ${sticker.iwasku} <br>
                            <strong>Category:</strong> ${sticker.category} <br>
                            <strong>Attributes:</strong> ${sticker.attributes}
                        </p>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <img src="${sticker.image_link}" class="img-fluid rounded-start" alt="Image" style="max-height: 100px; max-width: 100%; height: auto; width: auto;">
                </div>
            </div>
            </div>`).join('');
                container.innerHTML = cards;
            } else {
                container.innerHTML = '<p>No stickers found matching your search.</p>';
            }

        }

        function highlightSelectedGroup(groupId) {
            const groupLinks = document.querySelectorAll('.list-group-item');
            groupLinks.forEach(link => {
                if (parseInt(link.dataset.groupId) === groupId) {
                    link.classList.add('active');
                    link.setAttribute('aria-current', 'true');
                } else {
                    link.classList.remove('active');
                    link.removeAttribute('aria-current');
                }
            });
        }

        function selectGroup(groupName, groupId) {
            document.getElementById("dropdownMenuButton").innerHTML = groupName;
            loadAllStickers(groupId);
            loadStickers(groupId);
        }
    </script>
{% endblock %}
