{# task.html.twig #}

{% extends 'ozon/base.html.twig' %}

{% block title %}Ozon Listeleme Görevi{% endblock %}

{% block stylesheets %}
    <!-- link rel="stylesheet" href="/path/to/custom.css" -->
{% endblock %}

{% block head_scripts %}
    <!-- script src="/path/to/head-custom.js"></script -->
{% endblock %}

{% block body_scripts %}
    <!-- script src="/path/to/body-custom.js"></script -->
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/ozon">Ozon Listing</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ task.key }} - Ürünler</h1>
        <ul class="list-group">
            {% for productId, productGrp in parentProducts %}
                <li class="list-group-item">
                    <a href="/ozon/product/{{ task.id }}/{{ productId }}" class="text-decoration-none">
                        {{ productGrp.parentProduct.getKey() }}
                    </a>
                    <ul class="list-group">
                        {% for product in productGrp.products %}
                            <li class="list-group">
                                - {{ product.getKey() }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <form method="post" action="/ozon/modify/{{ task.id }}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="iwasku" placeholder="Eklenecek IWASKU" aria-label="Eklenecek IWASKU">
                <button class="btn btn-primary" type="submit">Ekle</button>
            </div>
        </form>
    </div>
{% endblock %}
