{# task.html.twig #}

{% extends 'ozon/base.html.twig' %}

{% block title %}Ozon Listeleme Görevi{% endblock %}

{% block stylesheets %}
    <!-- link rel="stylesheet" href="/path/to/custom.css" -->
{% endblock %}

{% block head_scripts %}
    <!-- script src="/path/to/head-custom.js"></script -->
{% endblock %}

{% block body_scripts %}
    <!-- script src="/path/to/body-custom.js"></script -->
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/ozon">Ozon Listing</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ task.key }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for productId, productGroup in products %}
                                <li class="dropdown-item dropdown">
                                    <a class="dropdown-item" href="#" id="dropdownSubMenu{{ productId }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ productGroup.product }}</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownSubMenu{{ productId }}">
                                        {% for child in productGroup.children %}
                                            <li><a class="dropdown-item" href="/ozon/task/{{ child.getObject().getId() }}">{{ child.getObject().getKey() }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>{{ task.key }}</h1>
{% endblock %}
