{# task.html.twig #}

{% extends 'ozon/base.html.twig' %}

{% block title %}Ozon Listeleme Görevi{% endblock %}

{% block stylesheets %}
    <!-- link rel="stylesheet" href="/path/to/custom.css" -->
{% endblock %}

{% block head_scripts %}
    <!-- script src="/path/to/head-custom.js"></script -->
{% endblock %}

{% block body_scripts %}
    <!-- script src="/path/to/body-custom.js"></script -->
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/ozon">Ozon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{  task.key }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for product in products %}
                                <li><a class="dropdown-item" href="/ozon/task/{{ product.object.id }}">{{ product.object.key }} ({{ product.data.price }})</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>Ozon Listeleme Yardımcısı</h1>
    <form method="post" action="/ozon/newtask">
        <div class="mb-3">
            <label for="marketplace" class="form-label">Ozon Pazaryeri</label>
            <select class="form-select" id="marketplace" name="marketplace" required>
                <option value="" selected disabled>Ozon Pazaryeri Seçiniz</option>
                {% for marketplace in marketplaces %}
                    <option value="{{ marketplace.id }}">{{ marketplace.getKey }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Lütfen bir pazaryeri seçin.
            </div>
        </div>
        <div class="mb-3">
            <label for="taskName" class="form-label">Görev İsmi</label>
            <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Göreve isim verin" required>
            <div class="invalid-feedback">
                Lütfen bir görev ismi girin.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Yeni Görev</button>
    </form>
{% endblock %}
