{# templates/products/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block productClass %}
<ul class="list-group">
    {% for productClass in productClasses %}
        <li class="list-group-item">{{ productClass }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card card-custom">
                    {% if product.picture %}
                        <img src="{{ product.picture.getThumbnail('default') }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|slice(0, 100) }}...</p>
                        <a href="{{ path('product_detail', {'id': product.id}) }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
