{% extends '202409/base.report.html.twig' %}
{% block content %}
    <table id="example" class="display nowrap table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>IWASKU</th>
                <th>Kategori</th>
                <th>Ürün Kodu</th>
                <th>Ürün Adı</th>
                <th>Örnek Resim</th>
                <th>Ürün Maliyeti</th>
                {% for model in models %}
                    <th>{{ model }}</th>
                {% endfor %}
                <th>Satış Fiyatı</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.iwasku }}<small>{% for bundleItem in product.bundleItems %}<li>{{ bundleItem.iwasku }}</li>{% endfor %}</small></td>
                    <td>{{ product.productCategory }}</td>
                    <td>{{ product.productIdentifier }}<small>{% for bundleItem in product.bundleItems %}<li>{{ bundleItem.productIdentifier }}</li>{% endfor %}</small></td>
                    <td>{{ product.name }}<br>
                        <small>{{ product.variationSize }}<br>
                            {{ product.variationColor }}<br>
                            {{ product.productDimension1 }}x{{ product.productDimension2 }}x{{ product.productDimension3 }}cm {{ product.packageWeight }}kg
                        </small>
                    </td>
                    <td><img src="{{ product.imageUrl }}" alt="Product Image" style="max-width: 100px;"></td>
                    <td class="text-end">{{ product.productCost }}</td>
                    {% for model in models %}
                        <td class="text-end">{{ product.models[model] }}</td>
                    {% endfor %}
                    <td class="text-end"><small>{% for price in product.prices %}<a href="{{ price.urlLink }}" target="_blank">{{ price.marketplace }}</a> {{ price.price }}<br>{% endfor %}</small></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "scrollX": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Hepsi"]],
                "pageLength": -1,
                "order": [
                    [2, 'asc']
                ]
            });
        });
    </script>
{% endblock %}