{% extends '202409/base.report.html.twig' %}
{% block content %}
    <table id="example" class="display nowrap table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>IWASKU</th>
                <th>Kategori</th>
                <th>Ürün Kodu</th>
                <th>Ürün Adı</th>
                <th>Örnek Resim</th>
                <th>Ürün Maliyeti</th>
                {% for model in models %}
                    <th>{{ model }}</th>
                {% endfor %}
                {% for market in markets %}
                    <th>{{ market }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><b>{{ product.iwasku }}</b><small><i>{% for bundleItem in product.bundleItems %}<br>{{ bundleItem.iwasku }}{% endfor %}</i></small></td>
                    <td>{{ product.productCategory }}</td>
                    <td><b>{{ product.productIdentifier }}</b><small><i>{% for bundleItem in product.bundleItems %}<br>{{ bundleItem.productIdentifier }}{% endfor %}</i></small></td>
                    <td>{{ product.name }}<br>
                        <small>{{ product.variationSize }}<br>
                            {{ product.variationColor }}<br>
                            {{ product.productDimension1 }}x{{ product.productDimension2 }}x{{ product.productDimension3 }}cm {{ product.packageWeight }}kg
                        </small>
                    </td>
                    <td><img src="{{ product.imageUrl }}" alt="Product Image" style="max-width: 100px;"></td>
                    <td class="text-end">{{ product.productCost }}</td>
                    {% for model in models %}
                        <td class="text-end">{{ product.models[model] }}</td>
                    {% endfor %}
                    {% for market in markets %}
                        {% if product.prices is defined and product.prices[market] is defined and product.prices[market].urlLink is defined %}
                            <td class="text-end">
                                <a href="{{ product.prices[market].urlLink }}" target="_blank" data-bs-toggle="tooltip" title="{{ product.prices[market].priceUS }}$">{{ product.prices[market].priceTL }}</a>                                
                            </td>
                        {% else %}
                            <td class="text-end">-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var table = $('#example').DataTable({
            fixedColumns: true,
            paging: false,
            scrollCollapse: true,
            scrollX: true,
            scrollY: 300
        });
    </script>
{% endblock %}