{# base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Bootstrap Page{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block head_scripts %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('default_homepage') }}">IWAPIM Frontend</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Uygulamalar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('catalog') }}">Katalog</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('ozon_menu') }}">Ozon Listing</a></li>
                            <li><a class="dropdown-item" href="{{ path('sticker_main_page') }}">Etiket</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_frontend_logout') }}">Çıkış Yap</a></li>
                        </ul>
                    </li>
                    {% block navbaritems %}
                    {% endblock %}
                </ul>
                {% block header %}
                {% endblock %}
            </div>
        </div>
    </nav>

</header>
<main class="container mt-4">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    {% block content %}
        <div class="user-info">
            {% if app.user %}
                <span>Hoşgeldin, {{ app.user.getUserIdentifier() | default('Kullanıcı') }}!</span>
            {% else %}
                <p>Kullanıcı giriş yapmamış.</p>
                <a href="{{ path('app_frontend_login') }}">Giriş Yap</a>
            {% endif %}
        </div>
        <!-- Content will be injected here -->
    {% endblock %}
</main>
<footer class="bg-light text-center m-3">
    {% block footer %}
    {% endblock %}
</footer>
{% block body_scripts %}{% endblock %}
</body>
</html>
