<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IWAPIM Katalog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
        body {
            background-color: #070e53;
        }
        .product-card {
            background-color: #f5f5f5;
            height: 120px;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 1px;
            box-shadow: none;
            padding: 0;
        }
        .product-card.expanded {
            height: auto;
        }
        .main-image {
            height: 120px;
            width: 100%;
            object-fit: cover;
        }
        .product-info {
            overflow: hidden;
            flex-grow: 1;
            text-overflow: ellipsis;
            padding: 0;
        }
        .product-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, 40px);
            grid-gap: 0;
            width: 320px;
            
            border: none;
            overflow: hidden;
            flex-shrink: 0;
        }
        .product-gallery img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border: none;
            margin: 0;
            padding: 0;
        }
        .page-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .row.g-0 {
            margin: 0;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row my-4 my-md-4">
            <div class="col-md-6 mb-6 mb-md-0">
                <div class="input-group">
                    <input type="text" id="search-box" class="form-control" placeholder="Ürün ile ilgili herhangi bir bilgi girerek arayın...">
                    <button type="button" id="search-button" class="btn btn-primary">Ara</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/catalog'">Sıfırla</button>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <select class="form-select" id="category-select">
                    <option value="all" selected>Tüm Ürün Tipleri</option>
                    {% for type in productTypes %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <div class="d-flex justify-content-end">
                    <select class="form-select" id="page-size-select">
                        <option value="5">5 Ürün</option>
                        <option value="10">10 Ürün</option>
                        <option value="20">20 Ürün</option>
                        <option value="50">50 Ürün</option>
                        <option value="100">100 Ürün</option>
                        <option value="200">200 Ürün</option>
                    </select>
                </div>
            </div>
        </div>
    
        <!-- Product catalog container -->
        <div id="catalog-container">
            {% for product in products %}
                <div class="card product-card">
                    <table style="table-layout: fixed; width: 100%; height: 100%; border-collapse: collapse; margin: 0; padding: 0; border: none;">
                        <tr>
                            <td style="width: 150px; vertical-align: top; border: none; padding: 0;">
                                <div style="height: 120px; width: 150px;">
                                    <img src="{{ product.image }}" alt="Product Image" style="height: 100%; max-width: 150px; width: auto; display: block;">
                                </div>
                            </td>                                                        
                            <td style="vertical-align: top; border: none; padding: 3px; overflow: hidden;">
                                <div class="card-body product-info">
                                    <h5 class="card-title">{{ product.productIdentifier }} {{ product.name }}</h5>
                                    <div class="col-12" style="font-size: smaller;">
                                        <b>Ebatlar:</b> {{ product.variationSizeList }} * <b>Renkler:</b> {{ product.variationColorList }}<br>
                                        <b>IWASKU:</b> {{ product.iwaskuList|raw }}<br>
                                    </div>
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell" style="width: 320px; vertical-align: top; border: none; padding: 0;">
                                <div class="product-gallery">
                                    {% for image in product.album %}
                                        {{ image|raw }}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="page-container">
            <nav>
                <ul class="pagination">
                    <li class="page-item {% if page == 0 %}disabled{% endif %}">
                        <a class="page-link" href="/catalog/{{ query }}/{{ category }}/0/{{ pageSize }}">&lt;&lt;</a>
                    </li>
        
                    <li class="page-item {% if page == 0 %}disabled{% endif %}">
                        <a class="page-link" href="{% if page > 0 %}/catalog/{{ query }}/{{ category }}/{{ page - 1 }}/{{ pageSize }}{% else %}#{% endif %}">&lt;</a>
                    </li>
        
                    {% set start = max(page - 2, 0) %}
                    {% set end = min(page + 2, pageCount - 1) %}
                    
                    {% if end - start < 4 %}
                        {% if start == 0 %}
                            {% set end = min(4, pageCount - 1) %}
                        {% else %}
                            {% set start = max(pageCount - 5, 0) %}
                        {% endif %}
                    {% endif %}
                    
                    {% for i in start..end %}
                        <li class="page-item {% if i == page %}active{% endif %}">
                            <a class="page-link" href="/catalog/{{ query }}/{{ category }}/{{ i }}/{{ pageSize }}">{{ i + 1 }}</a>
                        </li>
                    {% endfor %}
        
                    <li class="page-item {% if page == pageCount - 1 %}disabled{% endif %}">
                        <a class="page-link" href="{% if page < pageCount - 1 %}/catalog/{{ query }}/{{ category }}/{{ page + 1 }}/{{ pageSize }}{% else %}#{% endif %}">&gt;</a>
                    </li>
        
                    <li class="page-item {% if page == pageCount - 1 %}disabled{% endif %}">
                        <a class="page-link" href="/catalog/{{ query }}/{{ category }}/{{ pageCount - 1 }}/{{ pageSize }}">&gt;&gt;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function() {
            let currentQuery = '{{ query|e('js') }}'; 
            let currentCategory = '{{ category|e('js') }}';

            if (currentQuery !== 'all') {
                $('#search-box').val(currentQuery);
            }            
            if (currentCategory !== 'all') {
                $('#category-select').val(currentCategory);
            }
            $('#page-size-select').val('{{ pageSize }}');

            $('#page-size-select').on('change', function() {
                let selectedPageSize = $(this).val();
                window.location.href = `/catalog/${currentQuery}/${currentCategory}/0/${selectedPageSize}`;
            });

            $('#search-button').on('click', function() {
                let searchQuery = $('#search-box').val().trim();
                window.location.href = `/catalog/${searchQuery === '' ? 'all' : searchQuery}/${currentCategory}/0/{{ pageSize }}`;
            });

            $('#search-box').on('keypress', function(event) {
                if (event.key === 'Enter') {
                    let searchQuery = $(this).val().trim();
                    window.location.href = `/catalog/${searchQuery === '' ? 'all' : searchQuery}/${currentCategory}/0/{{ pageSize }}`;
                }
            });

            $('#category-select').on('change', function() {
                let selectedCategory = $(this).val();
                window.location.href = `/catalog/${currentQuery}/${selectedCategory}/0/{{ pageSize }}`;
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
            document.querySelectorAll('.product-card').forEach(function(card) {
                let isClickedOnce = false;
                card.addEventListener('click', function(event) {
                    card.classList.add('expanded');
                });
                card.addEventListener('dblclick', function(event) {
                    if (card.classList.contains('expanded')) {
                        card.classList.remove('expanded');
                    }
                    event.stopPropagation();
                });
                card.querySelectorAll('.card-body, .product-gallery, img').forEach(function(child) {
                    child.addEventListener('click', function(event) {
                        event.stopPropagation();
                    });
                });
            });
        });
    </script>

</body>
</html>
